html {
    font-family: "Open Sans", sans-serif;
    box-sizing: border-box;
    --burgundy: #AB0552;
    --purple: #B175FF;
    --cream: #EFEBE2;
    --black: #07040A;
    touch-action: manipulation;

}

*, *:before, *:after {
    box-sizing: inherit;
    font-family: inherit;
}

a {
    color: var(--burgundy);
    padding: 1rem 1rem 1rem 0;
}

button {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    color: #FFF;
    cursor: pointer;
    padding: 2rem;
    border-radius: 0.5rem;
    border: 0;
    font-size: 1rem;
/*    touch-action: none; */
    width: 300px;
    
}

button.action-button {
    background-color: var(--purple);
}

button.action-button:not([disabled]):hover {
    background-color: var(--cream);
    color: var(--black);
}

button.destructive-button{
    background-color: var(--burgundy);
}

button.destructive-button:not([disabled]):hover {
    border-radius: 0;
}

button[disabled], button:disabled {
    opacity: 0.5;
    cursor: auto;
    -webkit-tap-highlight-color: transparent;

}

i {
    margin-right: 0.5rem;
}

dialog {
	padding-top: 3rem;
	padding-bottom: 3rem;
	border: 1px solid #707070;
    background-color: #FFF;
    
}

dialog::backdrop {
    background-color: rgba(0,0,0,0.4);
}

button, button[disabled], button:disabled, dialog, dialog::backdrop {
    touch-action: none; /*prevents zoom from happening when a user triple clicks on a element on a smartphone */
}

/*applies only to browsers that don't currently support <dialog>*/
dialog.unsupported {
    width: 100%;
    height: 100%;

}

/*applies only to browsers that don't currently support <dialog>*/
dialog.unsupported.hidden { 
	display: none;
}

/*applies only to browsers that don't currently support <dialog>*/
dialog.unsupported.display { 
    background-color: rgba(0,0,0,0.4);
    border: 0;
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    justify-content: center;
    align-items: center;

}

dialog button {
	padding: 0.25rem;
    width: max-content;
}

dialog button:first-of-type {
	color: var(--black);
}

dialog button:last-child {
	background: #0071e3;
}

