html {
    font-family: "Open Sans", sans-serif;
    box-sizing: border-box;
    --lightgray: #D3D3D3;
    --seal-brown: #6B2B07;
    --engineering-orange: #B80D09;
    --smoky-black: #141301;
    --aquamarine: #14F2B2;
    --white: #FFFFFF;
    --azure-web: #DCF3F9;
    touch-action: manipulation;

}

*, *:before, *:after {
    box-sizing: inherit;
    font-family: inherit;
}

body {
    background: linear-gradient(180deg, var(--white) 0%, var(--azure-web) 100%);
    min-height: 100vh;
    text-align: center;
    margin: 0;
    padding: 0.5rem;/* Added to prevent the h1's top margin from overflowing the body element when using 100vh for height.This is due to margin collapsing(https://developer.mozilla.org/en-US/docs/Web/CSS/CSS_box_model/Mastering_margin_collapsing). Otherwise, a vertical toolbar will appear even though the body's actual content does overflow the viewport.*/
}



a {
    color: var(--seal-brown);
    padding: 1rem 1rem 1rem 0;
}

button {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    cursor: pointer;
    padding: 2rem;
    border-radius: 0.5rem;
    border: 0;
    font-size: 1rem;
    font-weight: bold;
    
    
}

button:not([disabled]):hover {
    border-radius: 0;
}

button.action-button {
    background-color: var(--aquamarine);
    color: var(--smoky-black);
    font-weight: bold;
}


button.destructive-button{
    background-color: var(--engineering-orange);
}


button[disabled], button:disabled {
    opacity: 0.5;
    cursor: auto;
    -webkit-tap-highlight-color: transparent;

}

i {
    margin-right: 0.5rem;
}


