form {
    display: flex;
    flex-direction: column;
    gap: 1rem;    
}

form * {
    max-width: 1000px;
    min-width: 320px;
    width: 100%;
}

input {
    padding: 1rem 1rem;
    font-size: inherit;
}


.error-message-string {
    color: #FF0000;
    font-weight: bold;
    margin: 0;
}

.error-message-string-hidden {
    visibility: hidden;
}
