html {
    font-family: "Open Sans", sans-serif;
    box-sizing: border-box;
    font-size: 1rem;
}

*, *:before, *:after {
    font-family: inherit;
    box-sizing: inherit;
}


form {
    display: flex;
    flex-direction: column;
    gap: 1rem;    
}

form * {
    max-width: 1000px;
    min-width: 420px;
}

input {
    padding: 1rem 1rem;

}

button {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    border: 0;
    border-radius: 0.25rem;
    padding: 1rem 2rem;
    cursor: pointer;
}

input, button {
    font-size: inherit;
}

.buttonValidFormData {
    background-color: indigo;
    color: #FFF;
}

.error-message-string {
    color: #FF0000;
    font-weight: bold;
    margin: 0;
}

.error-message-string-hidden {
    visibility: hidden;
}
