header {
	z-index: 999;
}

header a {
    display: block;
    text-align: left;
    margin-left: 0.5rem;
}

h2 {
	margin-bottom: 0;
}

ul {
	list-style: none;
	margin: 0;
	padding: 0;
}


aside {
    padding-bottom: 1rem;
}

button {
	margin-top: 0.5rem;
}


dialog.unsupported.display form {
    background-color: #FFF;
    border: 1px solid #707070;
    padding: 3rem 1rem;
    width: fit-content; 
}


dialog form p {
    margin: 0;
}
    

.highlight {
	background-color: yellow;
	font-weight: bold;
}

.italic {
    font-style: italic;
}



